<div class="alert alert-info">
    <h1>Cloud and Data Solution Quote Preview</h1>
    <h2>Project: {{project['org.acme.cloud_solution_projects.Project'].title}}</h2>
    <b>Cloud Provider:</b> {{cloudSolution.cloudProvider}}<br />
    <b>Location:</b> {{cloudSolution.locationCountry}}<br />
    <h1>Price: {{project['org.acme.cloud_solution_projects.Project'].price}}</h1>
    <button type="button" (click)="onModify()" class="btn btn-danger">Modify Quote</button>
    <button type="button" (click)="onApprove()" class="btn btn-success">Approve Quote</button>
</div>
<div *ngIf="cloudSolution.hasDataIngestion" class="alert alert-success">
    <h2>Data Ingestion Solution</h2>
    <b>Preferred ETL Tool:</b> {{dataIngestion.etlToolPreference}}<br />
    <b>Developers:</b> {{dataIngestion.developersQuantity}}<br />
    <div *ngIf="!dataIngestion.requiresLicense">
        <b>License Number:</b> {{dataIngestion.licenseNumber}}<br />
    </div>
    <div *ngIf="dataIngestion.requiresLicense" class="alert alert-danger">
        <b>This project requires a license for {{dataIngestion.etlToolPreference}}</b><br />
    </div>
</div>
<div *ngIf="cloudSolution.hasDataVisualization" class="alert alert-warning">
    <h2>Data Visualization Solution</h2>
    <b>Preferred Visualization Tool:</b> {{dataVisualization.preferredVisualizationTool}}<br />
    <b>End Users:</b> {{dataVisualization.endUsersQuantity}}<br />
    <b>Developers:</b> {{dataVisualization.developersQuantity}}<br />
    <div *ngIf="!dataVisualization.requiresLicense">
        <b>License Number:</b> {{dataVisualization.licenseNumber}}<br />
    </div>
    <div *ngIf="dataVisualization.requiresLicense" class="alert alert-danger">
        <b>This project requires a license for {{dataVisualization.preferredVisualizationTool}}</b><br />
    </div>
</div>